.container {
  text-align: center;
}

.coinContainer {
  margin: 50px auto;
  border: 1px solid silver;
  border-radius: 10px;
  width: fit-content;
  background-color: #f6f6f6;
  text-align: center;
}

.input {
  width: 350px;
  margin-top: 50px;
  border: 1px solid silver;
  border-radius: 5px;
  height: 40px;
  padding: 5px;
  background-color: #f6f6f6;
  transition: all 0.2s ease;
}

.input:focus {
  outline: none;
  border-color: white;
  background: white;
  box-shadow: rgba(74, 74, 74, 0.24) 0px 3px 8px;
}

@media (max-width:450px) {
  .coinContainer {
    border-radius: 0;
    border-left: none;
    border-right: none;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
  }

  .input {
    width: 250px;
  }

}